@import './blocks/variables';
@import './blocks/header';
@import './blocks/main';
@import './blocks/footer';

.color1 {
	color: $color1;
}
.color2 {
	color: $color2;
}
.bg1 {
	background-color: $color1;
}
.bg2 {
	background-color: $color2;
}
